/**************************
*                         *
*       INLINE FORM       *
*                         *
***************************/

#wpc-wrapper.inline-form #wpc-main form .form-row, 
#wpc-wrapper.inline-form #wpc-main form .form-row-wide,
#wpc-wrapper.inline-form #wpc-main form .form-row-first, 
#wpc-wrapper.inline-form #wpc-main form .form-row-last  {
    width: 100%;
    display: flex;
    /*flex-wrap: wrap;*/
    float: none;
    margin: 16px 0;
}

#wpc-wrapper.inline-form #wpc-main form .form-row label:first-child {
    width: 35%;
    padding-right: 10px;
}

#wpc-wrapper.inline-form #wpc-main form .form-row label + * {
    flex-grow: 1;
    width: 0 !important;
}

#wpc-wrapper.inline-form #wpc-main form .form-row label + .input-radio,
#wpc-wrapper.inline-form #wpc-main form .form-row label + .input-checkbox {
    width: auto !important;
}

#wpc-wrapper.inline-form #wpc-main .form-row.create-account {
	display: block;
}